body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.section {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* Adjusting input fields */
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

input[type="Date"] {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;

}

textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;

}

.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Full-width button */
    font-weight: bold; /* Make the button text bold */
}

.btn:hover {
    background-color: #0056b3;
}
